* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --d-gray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --very-d-gray: hsl(0, 0%, 27%);
  --spartan: font-family: 'Spartan', sans-serif;
}

Font size: 12px